.background {
  position: absolute;
  top: 0;
  left: -90px;
  width: 500px;   
  height: 700px;  
  z-index: 0;     
}

.dressup-container {
  text-align: center;
}

.title {
  color: hotpink;
}

.subtitle {
  color: deeppink;
}

.stage {
  position: relative;
  width: 400px;   
  height: 600px;  
  margin: auto;
}

.stage img {
  position: absolute; 
}

.base {
  position: absolute;
  top: 90px;
  left: 45px;  
  width: 300px
}

.buttons {
  position: absolute;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 10;
}

.buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
}


.buttons button:hover {
  transform: translateY(-5px) scale(1.05);
}

.buttons button:active {
  transform: translateY(2px);
}

.outfit-btn img {
  width: 90px;  
  left: -100px; 
  top: -15px;
  height: auto;
  image-rendering: pixelated;
}

.bow-btn img {
  width: 50px;  
  left:  40px; 
  top: 9px;

  height: auto;
  image-rendering: pixelated;
}

.outfit {
  position: absolute;     
  top: 73%;              
  left: 51%;              
  transform: translate(-50%, -50%);  
  width: 280px;
  height: 140px;
}


.bow {
  position: absolute;     
  top: 48%;             
  left: 49%;            
  transform: translate(-50%, -50%);  
  width: 170px;
  height: 95px;
}

.shoes {
  position: absolute;     
  top: 90%;               
  left: 45%;             
  transform: translate(-50%, -50%);  
  width: 250px;
  height: 90px;
}


.happiness-bar-container {
  position: absolute;
  top: 1225px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 20px;
  background-color: #ccc;
  border: 2px solid #999;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;
}

.happiness-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #ff7eb3, #ff65a3, #7afcff);
  transition: width 0.3s ease;
}
